body{
    
    background-color: blanchedalmond;
    
}
h1{
    text-align: center;
    color: rgb(23, 157, 161);
    text-decoration: solid;
}

img{
    width: 100%;
    max-width: 400px; /* or any preferred max width */
    height: auto;
    display: block;
    margin: 0 auto; /* center images */
}


.breakfast,
.lunch,
.dinner {
    display: flex;
    flex-direction: column;
    align-items: center; /* optional: center links horizontally */
}

#home{
    display: block;
    margin: 2%;
}