body{
    
    background-color: blanchedalmond;
    
}
h1{
    text-align: center;
    color: rgb(23, 157, 161);
    text-decoration: solid;
}

img{
    width: 100%;
    max-width: 400px; /* or any preferred max width */
    height: auto;
    display: block;
    margin: 0 auto; /* center images */
    margin-bottom: 16px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center; /* optional: center links horizontally */
}

.main a{
    display: inline-block;
    margin-bottom: 16px; /* vertical space */
    margin-right: 16px;  /* horizontal space if needed */
}

#home{
    display: block;
    margin: 2%;
}

.lunch >a{
    display: flex;
    flex-direction: column;
    align-items: center; /* center links horizontally */
}
